html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: "Poppins", "Arial", sans-serif;
}

h1 {
text-align: center;
font-size: 4em;
margin: 0;
}

p {
text-align: center;
}

#trollhouse {
  width: 100%;
}

div#house {
  position: relative;
}

#container {
  margin: 0 auto;
  max-width: 700px;

}

div.example {
  position: absolute;
  cursor: pointer;
}

div#bed {
  top: 51%;
  left: 16%;
  width: 31.5%;
  height: 10%;
  z-index: 999;
}

div#shower {
  top: 24.5%;
  right: 4%;
  width: 18.5%;
  height: 36.5%;
  z-index: 999;
}

div#toilet {
  top: 46%;
  left: 50%;
  width: 9%;
  height: 15%;
  z-index: 999;
}

div#table {
  bottom: 1%;
  right: 9%;
  width: 36.5%;
  height: 13.5%;
  z-index: 999;
}

div#stove {
  bottom: 1%;
  left: 30%;
  width: 21%;
  height: 22.5%;
  z-index: 999;
}

div#fridge {
  bottom: 1%;
  left: 4.5%;
  width: 21.5%;
  height: 35%;
  z-index: 999;
}

div.troll {
    position: absolute;
}

.trollimg {
  width: 100%;
}

#food {
  bottom: 1%;
  left: 4.5%;
  width: 21.5%;
}

#potty {
  top: 36%;
  left: 47%;
  width: 20%;
}

#sleep {
  top: 35.5%;
  left: 20%;
  width: 29%;
}

#showering {
  top: 31%;
  right: 4%;
  width: 18.5%;
}
#cook {
  bottom: .5%;
  left: 35%;
  width: 12%;
}

#eat {
  bottom: 1.5%;
  right: 15%;
  width: 23%;
}
a {
  color: #F05AAF;
}
a:hover {
  color: #BF4C8D;
}

/*@media screen and (min-width: 700px) {
body {
  background-image: url(../images/bg.png);
  margin: 0 25%;
}

}*/
